# **CALCULO DE RISCOS DE UM PORTFÓLIO**

In [1]:
# Calcular a variância de um portfólio que contém duas ou mais ações
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pandas_datareader import data as wb

sns.set_style('whitegrid')
%matplotlib inline

In [2]:
tickers = ['PG', 'BEI.DE']

sec_data = pd.DataFrame()

for tick in tickers:
    sec_data[tick] = wb.DataReader(tick, data_source="yahoo",
                                   start='2007-1-1')['Adj Close']
sec_data.head()

                   PG     BEI.DE
Date
2007-01-03  42.636059  40.627869
2007-01-04  42.312363  40.894630
2007-01-05  41.949009  40.053936
2007-01-08  42.041492  40.062027
2007-01-09  41.935799  39.156666

In [3]:
# Calcular o retorno logaritmico de cada uma
sec_returns = np.log(sec_data / sec_data.shift(1))

In [4]:
# Tabela contém o retorno logaritmico de cada uma
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006545
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002517 -0.022858
...              ...       ...
2021-01-07 -0.009390 -0.006403
2021-01-08 -0.000432  0.007254
2021-01-11 -0.006796 -0.002341
2021-01-12 -0.005820 -0.012436
2021-01-13  0.001385  0.004306

[3533 rows x 2 columns]

In [5]:
# ARRAY COM OS PESOS DE CADA AÇÃO
weights = np.array([0.5, 0.5])

In [6]:
# VARIANCIA DO PORTFOLIO
portf_var = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))
portf_var

0.026368494441870702

In [7]:
# VOLATILIDADE DO PORTFOLIO
portf_vol = (np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))) ** 0.5
portf_vol

0.16238378749699953

In [8]:
print(str(round(portf_vol, 5) * 100) + '%')

16.238%

# **RISCOS NÃO DIVERSIFICAVEL(Sistemático) E RISCO DIVERSIFICAVEL (Idiossincrático)**

In [9]:
# USANDO COM 2 TITULOS, MAS PODE SER APLICADO PARA MAIS DE 2
weights = np.array([0.5, 0.5])

In [10]:
weights[0]

0.5

In [11]:
weights[1]

0.5

***RISCO DIVERSIFICADO***

In [12]:
# variancia anual:
PG_var_a = sec_returns['PG'].var() * 250
PG_var_a

0.03522845849657472

In [13]:
# variancia anual:
BEI_var_a = sec_returns['BEI.DE'].var() * 250
BEI_var_a

0.04802717319136147

In [14]:
# RISCO DIVERSIFICAVEL = variancia do portfolio - variancia anual ponderada
risco_div = portf_var - (weights[0] ** 2 * PG_var_a) - (weights[1] ** 2 * BEI_var_a) 
risco_div

0.005554586519886653

In [15]:
# formatando:
print(str(round(risco_div*100, 3)) + '%')

0.555%

***RISCO NAO DIVERSIFICADO***

In [16]:
# DOIS JEITOS DE OBTER:
# 1 - VARIANCIA PORTIFOLIO - RISCO DIVERSIFICAVEL
riscoNAO1 = portf_var - risco_div
riscoNAO1

0.02081390792198405

In [17]:
# 2 - SOMA DA VARIANCIA ANUAL PONDERADA 
riscoNAO2 = (weights[0] ** 2 * PG_var_a) + (weights[1] ** 2 * BEI_var_a) 
riscoNAO2

0.020813907921984048

In [18]:
# Mesmo resultado?
riscoNAO1 == riscoNAO2

False