# CALCULANDO VARIÂNCIA, COVARIÂNCIA, CORRELAÇÃO,

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pandas_datareader import data as wb

sns.set_style('darkgrid')
%matplotlib inline

In [2]:
tickers = ['PG', 'BEI.DE']

sec_data = pd.DataFrame()

for tick in tickers:
    sec_data[tick] = wb.DataReader(tick, data_source="yahoo",
                                   start='2007-1-1')['Adj Close']

In [3]:
sec_data.head()

                   PG     BEI.DE
Date
2007-01-03  42.636059  40.627869
2007-01-04  42.312363  40.894630
2007-01-05  41.949009  40.053936
2007-01-08  42.041492  40.062027
2007-01-09  41.935799  39.156666

In [4]:
# Calcular o retorno logaritmico de cada uma
sec_returns = np.log(sec_data / sec_data.shift(1))

In [5]:
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006545
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002517 -0.022858
...              ...       ...
2021-01-07 -0.009390 -0.006403
2021-01-08 -0.000432  0.007254
2021-01-11 -0.006796 -0.002341
2021-01-12 -0.005820 -0.012436
2021-01-13  0.005965  0.004306

[3533 rows x 2 columns]

**VARIÂNCIA**

In [6]:
# O método VAR do numpy calcula a VARIÂNCIA de um objeto
PG_var = sec_returns['PG'].var()
PG_var

0.00014092250805233884

In [7]:
BEI_var = sec_returns['BEI.DE'].var()
BEI_var

0.00019210869276544586

In [8]:
PG_var_a = sec_returns['PG'].var() * 250
PG_var_a

0.03523062701308471

In [9]:
BEI_var_a = sec_returns['BEI.DE'].var() * 250
BEI_var_a

0.04802717319136147

**COVARIÂNCIA**

In [10]:
# O método COV do numpy calcula a COVARIÂNCIA de um objeto
cov_matriz = sec_returns.cov()
cov_matriz

              PG    BEI.DE
PG      0.000141  0.000044
BEI.DE  0.000044  0.000192

In [11]:
# Essa tabela não contéém valores médios diários
# Ela mostra a relação existente entre duas variáveis
cov_matriz_a = sec_returns.cov() * 250
cov_matriz_a

              PG    BEI.DE
PG      0.035231  0.011111
BEI.DE  0.011111  0.048027

**CORRELAÇÃO**

In [12]:
# A TAXA DE RETORNO DAS AÇÕES DAS DUAS EMPRESAS TEM BAIXA CORRELAÇÃO
corr_matriz = sec_returns.corr()
corr_matriz

              PG    BEI.DE
PG      1.000000  0.269572
BEI.DE  0.269572  1.000000

In [13]:
# OBS: NÃO é a correlação entre o preço das duas ações